<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name = "RozetkaSuite" thread-count="3" data-provider-thread-count="3">
    <!--<listeners>
        <listener class-name="testlisteners.AllureTestListener"/>
    </listeners>-->
    <test name = "testSuiteRozetka">
        <classes>
            <class name = "labTest.SumVerifyTest"/>
        </classes>
    </test>
</suite>
